<div class="py-5 bg-primary text-white bg-white" draggable="true" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-primary">
                <br />
                <h1>New Employee</h1>
                <p class="">Used to create new employee member profile</p>
                <form>
                    <div class="form-group">
                        <label for="InputName">First Name</label>
                        <input type="text" class="form-control" id="InputFirstName" placeholder="Firstname"> </div>
                    <div class="form-group">
                        <label for="InputSurname">Surname</label>
                        <input type="text" class="form-control" id="InputSurname" placeholder="Surname"> </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="InputEmail">Coporate email address</label>
                            <input type="email" class="form-control" placeholder="Enter email"> </div>
                        <div class="form-group">
                            <label for="InputDOB">Date of Birth</label>
                            <input type="date" class="form-control" id="InputDOB"> </div>
                        <div class="form-group">
                            <label for="InputCardNum">Badge / Card Number</label>
                            <input type="number" id="InputCardNum" placeholder="Enter Badge / Card Number" class="form-control"> </div>
                    </div>
                    <div class="col-md-3"> </div>
                </form>
                <a class="btn btn-secondary" href="#">Complete </a>
                <br />
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body bg-primary">
                        <div class="form-group">
                            <h5 class="card-title">Staff photo</h5>
                            <p class="card-text">
                                <i>Upload image or take photo (inbuilt camera)</i>
                            </p>
                            <input type="file" class="form-control-file" id="InputEmail1" placeholder="Surname"> </div>
                        <a href="#" class="btn btn-secondary">Take Photo</a>
                    </div>
                    <img class="card-img-top" alt="Card image cap" src="https://pingendo.com/assets/photos/wireframe/photo-2.jpg"> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<!--
<h2>Owner</h2>
<form ng-submit="$ctrl.submitEmployeeForm()" style="max-width: 25em;">
    <div class="form-group">
        <label>First name 2</label>
        <input class="form-control" ng-model="$ctrl.owner.firstName" name="firstName" required/>
        <span ng-show="ownerForm.firstName.$error.required" class="help-block">First name is required.</span>
    </div>

    <div class="form-group">
        <label>Last name</label>
        <input class="form-control" ng-model="$ctrl.owner.lastName" name="lastName" required/>
        <span ng-show="ownerForm.lastName.$error.required" class="help-block">Last name is required.</span>
    </div>


    <div class="form-group">
        <label>Address</label>
        <input class="form-control" ng-model="$ctrl.owner.address" name="address" required/>
        <span ng-show="ownerForm.address.$error.required" class="help-block">Address is required.</span>
    </div>

    <div class="form-group">
        <label>City</label>
        <input class="form-control" ng-model="$ctrl.owner.city" name="city" required/>
        <span ng-show="ownerForm.city.$error.required" class="help-block">City is required.</span>
    </div>
    
    <div class="form-group">
        <label>Telephone</label>
        <input class="form-control" ng-model="$ctrl.owner.telephone" name="telephone" required/>
        <span ng-show="ownerForm.telephone.$error.required" class="help-block">Telephone is required.</span>
    </div>
    
    <div class="form-group">
        <button class="btn btn-default" type="submit">Submit</button>
    </div>
</form>
-->
