<nav class="navbar navbar-expand-md bg-primary navbar-dark" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fa d-inline fa-lg fa-cloud"></i>
            <b>  ID Card Manager</b>
        </a>

        <div class="navbar-collapse collapse text-center justify-content-end" id="main-navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa d-inline fa-lg fa-building-o"></i> Offices</a>
                </li>

                <li ui-sref-active="active" class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-primary dropdown-toggle fa fa-user" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"> Employees
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="employees"><span class="fa fa-search" aria-hidden="true"></span><span> All</span></a></li>
                        <li><a ui-sref="employeeNew"><span class="fa fa-user-plus" aria-hidden="true"></span><span> Register</span></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa d-inline fa-lg fa-id-card-o"></i> Cards</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
